<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/index :: dynamic(~{::main})}">
    
    <body>
      <main>
      <div th:replace="~{/cart/view :: shopping_cart}"></div>
       <div class="container mt-4">
            <div class="card">
                <div class="card-header">
                    ĐẶT MUA HÀNG
                </div>
                <div class="card-body">
                    <form>
                        <div class="mb-3 row">
                            <div class="col-md-6">
                                <label for="purchaser" class="form-label">Người đặt hàng:</label>
                                <div class="form-control" id="username">[[${#request.remoteUser}]]</div>
                            </div>
                            <div class="col-md-6">
                                <label for="orderdate" class="form-label">Ngày đặt hàng:</label>
                                <div class="form-control">{{order.createDate | date: 'dd-MM-yyyy'}}</div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="shippingaddress" class="form-label">Địa chỉ:</label>
                            <textarea class="form-control" ng-model="order.address"></textarea>
                        </div>
                        <div class="card-footer text-end">
                        <a ng-click="order.purchase()" class="btn btn-primary">Đặt hàng</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
      </main>
    </body>
</html>