<div class="container">
    <div class="row text-center text-md-start">
        <div class="col-md-4 mb-4">

            <h5>Thông tin liên hệ</h5>
            <p>Số điện thoại: <a href="tel:0905008230">0905008230</a></p>
            <p>Email: <a href="mailto:syle190104@gmail.com">syle190104@gmail.com</a></p>
            <p>Facebook: <a href="https://www.facebook.com/le.sy.1690?mibextid=LQQJ4d"
                    target="_blank">https://www.facebook.com/le.sy.1690?mibextid=LQQJ4d</a></p>
        </div>
        <div class="col-md-4 mb-4">
            <h5>Hỗ trợ khách hàng</h5>
            <p><a href="#">Hướng dẫn đăng ký</a></p>
            <p><a href="#">Hướng dẫn mua hàng</a></p>
            <p><a href="#">Điều khoản sử dụng</a></p>
            <p><a href="#">Bảo hành & đổi trả</a></p>
            <p><a href="#">Chính sách đổi trả</a></p>
        </div>
        <div class="col-md-4 mb-4">
            <h5>Về chúng tôi</h5>
            <p><a href="#">Giới thiệu</a></p>
            <p><a href="#">Tuyển dụng</a></p>
            <p><a href="#">Liên hệ</a></p>
            <p><a href="#">Khuyến mãi</a></p>
            <p><a href="#">Hỏi đáp</a></p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center">
            <div class="social-links">
                <a href="https://www.facebook.com/le.sy.1690?mibextid=LQQJ4d" target="_blank"
                    class="bi bi-facebook"></a>
                <!-- Add more social icons as needed -->
            </div>
            <p class="mt-4 mb-0">&copy; 2024 Công ty của bạn. Tất cả các quyền được bảo lưu.</p>
        </div>
    </div>
</div>