<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/layout/index :: dynamic(~{::main})}">

<body>
	<main>

		<div class="container" th:fragment="shopping_cart">
			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<div class="card-body">
							<h4 class="card-title">Giỏ Hàng</h4>
							<div class="col d-flex justify-content-between">
								<p class="text-muted mb-0">{{cart.count}} sản phẩm</p>
								<p class="text-end mb-0">Tổng tiền: ${{cart.amount |
									number:2}}</p>
							</div>
							<hr>
							<div ng-repeat="item in cart.items"
								class="row border-top border-bottom py-3">
								<div class="col-md-2">
									<img class="img-fluid" ng-src="/assets/images/{{item.image}}"
										alt="Product Image">
								</div>
								<div class="col-md-4">
									<p class="text-muted">ID: {{item.id}}</p>
									<p>{{item.name}}</p>
									<p>Giá: ${{item.price | number:2}}</p>
								</div>
								<div class="col-md-3 mt-5">
									<input ng-change="cart.saveToLocalStorage()"
										ng-model="item.qty" type="number" min="1" class="form-control">
								</div>
								<div class="col-md-3 mt-5">
									${{item.price * item.qty | number:2}}
									<button ng-click="cart.remove(item.id)" class="btn btn-danger">
										<i class="bi bi-trash3"></i>
									</button>
								</div>
							</div>
							<div class="text-end mt-2">

								<button ng-click="cart.clear()" class="btn btn-danger ms-4">Xóa
									giỏ hàng</button>
								<a th:href="@{/order/checkout}" class="btn btn-primary">KIỂM TRA</a>

							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</main>
	</main>
</body>
</html>